.nav-item {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    background: #1E1E1E;
    color: white;
    font-family: 'Inter', serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 31.47px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: color 0.3s;
    font-size: 16px;
}

.nav-link:hover {
    color: #30D9CA;
}

.email-link {
    font-size: 20px;
    color: black;
    background: white;
    border-radius: 50%;
}

.logo {
    max-height: 60px;
    margin-bottom: 10px;
}

.header-text {
    font-family: 'Inter', serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
}

.text {
    font-family: 'Inter', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: center;

}

.block-html {
    margin-bottom: 32px;
}

.gradient-bar {
    background: linear-gradient(90deg, #FEFEFE 0%, #FE8888 100%);
    font-family: 'Inter', serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24.2px;
    text-align: left;

}

.block-text {
    border-radius: 20px 0px 0px 0px;
    font-family: 'Inter', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
}

.main-layout-header-text {
    font-family: Calibri;
    font-size: 6vw;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    /*top: 0%;*/
    white-space: nowrap;
    width: auto;
    /*left: 0%;*/
    /*position: absolute;*/
    color: #F9FCFC;

}

.main-layout-text {
    font-family: Calibri;
    font-size: 2vw;
    font-weight: 300;
    line-height: 1;
    text-align: left;

}

